//Corrects text resizing oddly in IE 6/7 when bony `font-size` is set using `em` units.
//http://clagnut.com/blog/348/#c790
html {
  font-size: 100%;
}

//Addresses margins set differently in IE 6/7
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

//Addreses padding set differently in IE 6/7
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

//Corrects list images handled incorrectly in IE7
nav {
  ul,
  ol {
    list-style: none;
    list-style-image: none;
  }
}

//Improves image quality when scaled in IE7
img {
  -ms-interpolation-mode: bicubic;
}

// Corrects margin displayed oddly in IE 6/7
form {
  margin: 0;
}

legend {
// Corrects text not wrapping in Firefox 3.
  white-space: normal;
// Corrects alignment displayed oddly in IE 6/7      
  *margin-left: -7px; 
}

html input[type="button"], 
input[type="reset"],
input[type="submit"] {
  *overflow: visible; 
}

input[type="checkbox"],
input[type="radio"] {   
  // Removes excess padding in IE 7.
  // Known issue: excess padding remains in IE 6.
  *height: 13px;
  *width: 13px;
}

// Corrects `inline-block` display not defined in IE6/7
audio,
canvas,
video {
  *display: inline;
  *zoom: 1;
}

// Addresses font sizes and margins set differently in IE 6/7
h1 {
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

blockquote {
  margin: 1em 40px;
}

// Addresses margins set differently in IE 6/7
p,
pre {
  margin: 1em 0;
}

// Corrects font family set oddly in IE 6
code,
kbd,
pre,
samp {
  _font-family: 'courier new', monospace;
}

// Addresses CSS quotes not supported in IE 6/7
q {
  quotes: none;
}

// Addresses `quotes` property not supported in Safari 4
q:before,
q:after {
  content: '';
  content: none;
}
